{% extends 'question/index.html' %}
{% block title %}edit answer{% endblock %}
{% block extrahead %}
{% include 'account/head.html' %}
{% endblock %}
{% load material_form %}
{% block content %}
{% include 'account/nav.html' %}
<div class='row'>
<div class='col s12 m8 l6 offset-m2 offset-l3 white'>
<div class='card-panel'>
<form action='{% url 'edit answer' id=ansobj.id %}' method='POST'>
{% csrf_token %}
{% form form=f %}{% endform %}
<div class='row'>
<div class='col s12'>
<button type="submit" id ="POST" name="post" class="btn waves-effect waves-light left">POST</button>
</div>
</div>
</form>
</div>
</div>
</div>
{% endblock %}
